@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@600&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  background-image: url("banner-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

}

header {
  display: flex;
  font-family: "Lato", sans-serif;
}

nav .logo {
  font-family: "Oswald", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 62px;
}

.logo .h1 {
  display: flex;
  justify-content: space-between;
  font-size: 44px;
  font-weight: 1000;
  color: #050505;
  font-family: "Oswald", sans-serif;

}

.logo .h2 {
  display: flex;
  justify-content: space-between;
  font-size: 44px;
  font-weight: 1000;
  color: rgb(251, 251, 251);
  font-family: "Oswald", sans-serif;
}

.nav-bar {
  margin-left: 317px;
  padding-top: 23px;
  display: flex;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: space-between;
}

.nav-bar a {
  text-decoration: none;
  list-style: none;
  padding: 24px;
  font-size: 18px;
  color: gray;
}

.nav-bar a:hover {
  color: black;
  font-weight: bold;
}

.nav-bar a:hover,
.nav-bar a.active {
  color: black;
}

.nav-bar .login {
  padding-left: 59px;
}

.login .log {
  font-size: 18px;
}

.search #img1 {
  width: 17px;
  padding-top: 2px;
}

.main {
  display: flex;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .image img {
  padding-left: 300px;
  padding-top: 73px;
}

.heading {
  padding-left: 76px;
  padding-top: 88px;
}

.heading .coffee {
  font-family: " Oswald ", sans-serif;
  font-size: 117px;
  font-weight: 1000;
}

.heading .taste {
  font-size: 35px;
  color: rgb(216, 112, 112);
  font-family: "Oswald", sans-serif;
  padding: 19px 17px 0;
}

.heading p {
  font-family: "Oswald", sans-serif;
  padding: 3px 19px;
}

.button {
  display: flex;
  flex-direction: row;
  padding: 65px 0px 1px 21px;
  letter-spacing: .5px;

}

.button button:hover {
  color: rgb(216, 112, 112);
}

.button button {
  color: white;
  background-color: rgba(26, 25, 25, 0.721);
  font-size: 20px;
  border-radius: 15px;


}

.button .btn1 {
  padding: 23px 49px;
  letter-spacing: 1.1px;




}

.button .btn2 {
  margin-left: 95px;
  padding: 1px 48px;
  letter-spacing: 1.1px;


}

.service h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  padding-top: 42px;
  font-family: "Oswald", sans-serif;
  color: rgb(45, 42, 42);


}

#img {
  margin-left: 734px;
}

.my-card {
  display: flex;
  justify-content: center;
  align-items: center;


}

.card-item {
  display: inline-block;
  margin: 37px 37px 0 37px;
}

.picture {
  border-radius: 6px;
  transition: 0.1s ease-in;
}

.picture:hover {
  transform: scale(1.09);
}

.my-card.card-item .h3 {
  font-size: 25px;
}

.card-item p {
  display: flex;
  justify-content: center;
  align-items: center;

}

.about #h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  padding-top: 94px;
  font-family: "Oswald", sans-serif;

}

.about .logo {
  margin-left: 734px;
}

#shop {
  position: relative;
}

#shop img {

  margin-left: 500px;
  height: 80vh;
  width: 60vw;
  padding-top: 50px;
}

.box {
  position: absolute;
  bottom: 40px;
  left: 280px;
  background-color: rgb(251, 249, 249);
  color: rgb(32, 30, 30);
  padding-left: 20px;
  padding-right: 20px;
  width: 30vw;
  height: 60vh;

}

#shop .box h3 {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#shop .box p {
  padding-top: 35px;

}

.login4 {
  display: flex;
  flex-direction: column;
}

.login4 h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  padding-top: 94px;
  font-family: "Oswald", sans-serif;


}

.login4 img {

  width: 58px;
  margin-left: 48vw;
}

.login1 {}



.login4 .login1 .login2 {
  display: flex;
  flex-direction: column;
  width: 39vw;
  height: 50vh;
  margin: 22px 0 0 32vw;
  ;

}

.form {
  /* border: solid 2px black; */
  padding-left: 9vw;
  padding-top: 2vw;
  padding-bottom: 9vw;
  border-radius: 0px;
  padding-right: 10vw;
  height: 500px;
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  box-shadow: 0px 0px 10px rgba(148, 187, 233, 1);
}

.login4 input {
  display: flex;
  flex-direction: column;
  height: 9vh;
  margin-bottom: 17px;
  margin-right: 20px;
  /* border-radius: 25px; */
  width: 30vw;
  padding-left: 1vw;
  position: relative;
  right: 70px;
  font-size: 15px;


}

.login4 button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9vw;
  height: 9vh;
  font-size: 19px;
  background-color: rgb(216, 112, 112);
  margin-left: 46vw;
  position: relative;
  transition: 0.1s ease-in-out;
}

.btn:hover {
  transform: scale(1.09);
  cursor: pointer;
}

.footer {

  padding-top: 22px;
}

.footer footer {
  height: 10vh;
  background-color: black;
  color: white;
}

footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3vh;
}

.main-div {
  z-index: 1000;
  height: 550px;
  width: 500px;
  background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
  /* background-color: blue; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  transition: transform 0.4s, top 0.9s;
}

.open-main-div {
  visibility: visible;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);

}

.heading {
  font-family: 'Poppins', sans-seri;
  font-size: 40px;
  position: relative;
  top: 70px;
  left: 39px;
  /* color: whitesmoke;  */
  font-weight: 700;
}

.frm {
  position: relative;
  top: 80px;
}

.input1 {
  position: relative;
  top: 20px;
  height: 70px;
  width: 500px;
  text-align: left;
  font-size: 17px;
  font-family: 'Poppins', sans-seri;
  padding-left: 50px;
}

.email {
  height: 50px;
  width: 400px;
  border-radius: 0px;
  font-size: 15px;
  font-family: 'Poppins', sans-seri;
  padding-left: 20px;

}

.input2 {
  position: relative;
  top: 40px;
  height: 70px;
  width: 500px;
  text-align: left;
  font-size: 17px;
  font-family: 'Poppins', sans-seri;
  padding-left: 50px;
}

.password {
  height: 50px;
  width: 400px;
  border-radius: 0px;
  font-size: 15px;
  font-family: 'Poppins', sans-seri;
  padding-left: 20px;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
}

.forgot {
  position: relative;
  top: 60px;
  text-align: center;
  height: 70px;
  width: 500px;
  font-size: 17px;
  font-family: 'Poppins', sans-seri;
}

a {
  color: white
}

.button11 {
  position: relative;
  top: 50px;
  text-align: center;
  height: 70px;
  width: 500px;
  font-size: 17px;
  font-family: 'Poppins', sans-seri;
}

.button12 {
  width: 400px;
  height: 40px;
  border-radius: 0px;
  font-size: 20px;
  font-weight: 500;
  transition: 0.1s ease-in-out;
  box-shadow: 10px 15px 7px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.button12:hover {
  transform: scale(1.01);
  background-color: white;
}

.button10 {
  position: relative;
  left: 450px;
  width: 30px;
  height: 30px;
  border-radius: 0px;
  transition: 0.1s ease-in-out;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.button10:hover {
  transform: scale(1.09);
  background-color: white;
}